<div class="footer">
  <div class="footer-content">
    <div>
      <div class="footer-title">
        <i class="footer-icon"></i>
        <h4>ĐẶT HÀNG SIÊU NHANH</h4>
      </div>
      <div class="footer-content">
        <p>
          Đặt hàng siêu nhanh chuyên dịch vụ vận chuyển hàng hóa, chuyển
          tiền và đặt hàng trên tất cả các trang web mua hàng của Trung
          Quốc.
        </p>
      </div>
    </div>
    <div>
      <div class="footer-title">
        <h4>VỀ ĐẶT HÀNG SIÊU NHANH</h4>
      </div>
      <div class="footer-content">
        <ul>
          <li>
            <a href="#">Giới thiệu</a>
          </li>
          <li>
            <a href="#">Hướng dẫn</a>
          </li>
          <li>
            <a href="#">Tin tức</a>
          </li>
          <li>
            <a href="#">Chính sách bảo mật</a>
          </li>
          <li>
            <a href="#">Quy chế hoạt động</a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div class="footer-title">
        <h4>CHĂM SÓC KHÁCH HÀNG</h4>
      </div>
      <div class="footer-content">
        <ul>
          <li>
            <a href="#"> Trung tâm trợ giúp </a>
          </li>
          <li>
            <a href="#"> Hướng dẫn tạo tài khoản </a>
          </li>
          <li>
            <a href="#"> Hướng dẫn mua hàng </a>
          </li>
          <li>
            <a href="#"> Trả hàng & vận chuyển </a>
          </li>
          <li>
            <a href="#"> Các câu hỏi thường gặp </a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div class="footer-title">
        <h4>THÔNG TIN LÊN HỆ</h4>
      </div>
      <div class="footer-content">
        <ol>
          <li>Văn phòng phía bắc</li>
          <li>30 Lê Duẩn - Hà Nội</li>
          <li>Hotline: 086 509 6556</li>
          <li>Email: sansi56.vn@gmail.com</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="address">
    <div class="address-content">
      <h4>THÔNG TIN THANH TOÁN</h4>
      <p>
        178121405 - Chủ TK: Phạm Kim Anh Ngân hàng VP Bank Hội Sở - Hà Nội.
      </p>
    </div>
    <div class="address-sub">
      <h4>KẾT NỐI VỚI CHÚNG TÔI</h4>
      <a href=""><i class="facebook"></i></a>
      <a href=""><i class="twiter"></i></i></a>
      <a href=""><i class="instagram"></i></i></a>
    </div>
  </div>
</div>
<div class="footer-sub">
  <div class="footer-sub-content">
    © 2013 - 2019 DATHANGSIEUNHANH Logistics. Tất cả các quyền được bảo lưu<br>
Số GCNDT: 0107464325, cấp ngày 06/06/2016, nơi cấp: Sở KHĐT TP.Hà Nội
  </div>
  <div class="footer-sub-icon">
    <i></i>
  </div>
</div>
