<div class="tim-kiem-sp">
  <!-- <div class="don-hang-title">
    <div class="seach-sp">
      <div class="seach-title">TÌM KIẾM SẢN PHẨM</div>
      <div class="seach-nav">
        <ul>
          <li class="active">TAOBAO.COM</li>
          <li>ALIBABA.COM</li>
          <li>TMALL.COM</li>
          <li>1688.COM</li>
        </ul>
      </div>
      <div class="seach-input">
        <input
          type="text"
          placeholder="Nhập từ khóa bằng tiếng việt sản phẩm bạn muốn tìm kiếm tại TAOBAO.COM"
        />
        <button type="button"></button>
      </div>
      <div class="seach-bt">
        <a href="index_tim_kiem_sp.html">
          <button type="button">
            <i class="i1"></i>
            <p>Tạo đơn hàng trên hệ thống</p>
          </button>
        </a>

        <a href="index_tao_don_hang.html">
          <button type="button">
            <i class="i2"></i>
            <p>Tạo đơn hàng ký gửi</p>
          </button>
        </a>

        <a href="index_goi_y_tim_kiem.html">
          <button type="button">
            <i class="i3"></i>
            <p>Gợi ý từ khoá hot</p>
          </button>
        </a>
      </div>
      <div class="seach-sub">
        <div class="seach-sub-title">
          Mua Hàng Tại Trung quốc, với vài cú Click
        </div>
        <p class="seach-sub-content">
          Tư vấn, tìm kiếm nguồn hàng và nhập hàng trực tuyến từ các website
          hàng đầu Trung Quốc. Sansi56.vn cam kết một dịch vụ vượt trội và cải
          tiến liên tục.
        </p>
      </div>
    </div>
  </div> -->
  <div class="ky-gui-content">
    <table>
      <tr>
        <th class="cor1">STT</th>
        <th class="cor2">Hình ảnh</th>
        <th class="cor3">Thông tin sản phẩm</th>
        <th class="cor4">Thông tin số hàng hoá</th>
        <th class="cor5">Ghi chú khác</th>
        <th class="cor6">Thành tiền</th>
      </tr>
      <tr>
        <td>
          <div class="stt">
            <span>1</span>
            <span>X</span>
          </div>
        </td>
        <td>
          <div class="images">
            <img src="../images/content/tim-kiem-sp/sp.svg" alt="" />
            <div class="images-sub">
              <button type="button" id="tai">Tải</button>
              <button type="button" id="link">Link</button>
            </div>
          </div>
        </td>
        <td>
          <div class="don-hang">
            <input type="text" placeholder="Mã vận đơn (*)" />
            <input type="text" placeholder="Tên sản phẩm (*)" />
            <input type="text" placeholder="Số kiện hàng" />
            <input type="text" placeholder="Hãng vận chuyển" />
          </div>
        </td>
        <td>
          <div class="hang-hoa">
            <select>
              <option>Trung Quôc - Việt Nam</option>
            </select>
            <select>
              <option>Chọn loại danh mục</option>
            </select>
          </div>
        </td>
        <td>
          <div class="note">
            <textarea
              cols="30"
              rows="5"
              placeholder="Ghi chú sản phẩm"
            ></textarea>
          </div>
        </td>
        <td>
          <div class="thanh-tien">
            <div>
              <input type="checkbox" name="check" id="kiem-go" />
              <label for="kiem-go"> Kiểm gõ</label>
            </div>
            <div>
              <input type="checkbox" name="check" id="bao-hiem" />
              <label for="bao-hiem">Bảo hiểm</label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="stt">
            <span>1</span>
            <span>X</span>
          </div>
        </td>
        <td>
          <div class="images">
            <img src="../images/content/tim-kiem-sp/sp.svg" alt="" />
            <div class="images-sub">
              <button type="button" id="tai">Tải</button>
              <button type="button" id="link">Link</button>
            </div>
          </div>
        </td>
        <td>
          <div class="don-hang">
            <input type="text" placeholder="Mã vận đơn (*)" />
            <input type="text" placeholder="Tên sản phẩm (*)" />
            <input type="text" placeholder="Số kiện hàng" />
            <input type="text" placeholder="Hãng vận chuyển" />
          </div>
        </td>
        <td>
          <div class="hang-hoa">
            <select>
              <option>Trung Quôc - Việt Nam</option>
            </select>
            <select>
              <option>Chọn loại danh mục</option>
            </select>
          </div>
        </td>
        <td>
          <div class="note">
            <textarea
              cols="30"
              rows="5"
              placeholder="Ghi chú sản phẩm"
            ></textarea>
          </div>
        </td>
        <td>
          <div class="thanh-tien">
            <div>
              <input type="checkbox" name="check" id="kiem-go" />
              <label for="kiem-go"> Kiểm gõ</label>
            </div>
            <div>
              <input type="checkbox" name="check" id="bao-hiem" />
              <label for="bao-hiem">Bảo hiểm</label>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <button type="button">+ Thêm kiện hàng</button>
  </div>
  <div class="ky-gui-sub">
    <div>
      <div class="ky-gui-sub-title">Thông tin khách hàng</div>
      <div class="ky-gui-sub-content">
        <div>
          <input type="checkbox" id="address" />
          <label for="address"
            >Ngọc Minh - 08 6969 6969 - ngõ 300 - thuỵ khê - tây hồ - hn</label
          >
        </div>
        <div>
          <input type="checkbox" id="khac" />
          <label for="khac">Thêm địa chỉ khác</label>
        </div>
      </div>
    </div>
    <div>
      <div class="ky-gui-sub-title">Trụ sở nhận hàng</div>
      <div class="ky-gui-sub-content">
        <div>
          <input type="radio" name="noi-nhan" id="input-HN" />
          <label for="input-HN">Hà Nội</label>
        </div>
        <div>
          <input type="radio" name="noi-nhan" id="input-HCM" />
          <label for="input-HCM">Hồ Chí Minh</label>
        </div>
        <div>
          <input type="radio" name="noi-nhan" id="input-HP" />
          <label for="input-HP">Hải Phòng</label>
        </div>
      </div>
    </div>
  </div>
  <button id="bt-dat-hang">Tạo đơn ký gửi</button>
</div>
