//
// Component: Positions
//

$lst-unit-p: append($lst-unit, "%");
@each $unit in $lst-unit-p {
  $c-unit: -#{$unit};
  @if ($unit == $unit-default) {
    $c-unit: "";
  }

  @if ($unit == "%") {
    $c-unit: -per;
  }

  @for $i from 1 through 100 {
    .mt-#{$i + $c-unit} {
      margin-top: #{$i + $unit} !important;
    }

    .mr-#{$i + $c-unit} {
      margin-right: #{$i + $unit} !important;
    }

    .mb-#{$i + $c-unit} {
      margin-bottom: #{$i + $unit} !important;
    }

    .ml-#{$i + $c-unit} {
      margin-left: #{$i + $unit} !important;
    }

    .minus-mt-#{$i + $c-unit} {
      margin-top: -#{$i + $unit} !important;
    }

    .minus-mr-#{$i + $c-unit} {
      margin-right: -#{$i + $unit} !important;
    }

    .minus-mb-#{$i + $c-unit} {
      margin-bottom: -#{$i + $unit} !important;
    }

    .minus-ml-#{$i + $c-unit} {
      margin-left: -#{$i + $unit} !important;
    }

    .m-#{$i + $c-unit} {
      margin: #{$i + $unit} !important;
    }

    .minus-m-#{$i + $c-unit} {
      margin: -#{$i + $unit} !important;
    }
  }
}

.mt-unset {
  margin-top: unset !important;
}

.mr-unset {
  margin-right: unset !important;
}

.mb-unset {
  margin-bottom: unset !important;
}

.ml-unset {
  margin-left: unset !important;
}

.m-unset {
  margin: unset !important;
}

//
